/* REVISADO */

.admin-container {
  max-width: 720px;
  margin: 60px auto;
  padding: 40px;
  background-color: #1f2235;
  border-radius: 12px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.5);
}

.admin-titulo {
  font-size: 2rem;
  margin-bottom: 20px;
}

.admin-subtitulo {
  margin-bottom: 24px;
  font-size: 1.3rem;
}

.admin-formSection {
  margin-bottom: 20px;
}

.admin-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.admin-input,
.admin-textarea {
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #2a2d3e;
  color: #eee;
  font-size: 1rem;
}

.admin-input:focus,
.admin-textarea:focus {
  outline: none;
  background-color: #353a4f;
}

.admin-textarea {
  min-height: 100px;
}

.admin-btn {
  padding: 12px 24px;
  background-color: green;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.admin-btn:hover {
  background-color: darkgreen;
}

.admin-itemLista {
  background-color: #2a2d3e;
  padding: 18px 22px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  color: #ddd;
}

.admin-btnEdit,
.admin-btnDelete {
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 10px;
}

.admin-btnEdit {
  color: #f5a623;
}

.admin-btnDelete {
  color: #e03a3a;
}
