.dashboard-container {
  width: 100%;
  text-align: center;
}

.dashboard-container h2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 2rem;
}

.dashboard-container p {
  font-size: 1.2rem;
}
